<div class="row">
  <div class="col-md-5">
    <img src="" alt="" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <h1>Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="btn-group">
      <button class="btn btn-primary botton-toggle" type="button">Manage Recipe <span class="caret"></span> </button>
    </div>
    <ul class="dropdown-menu">
        <li><a href="#">Add Ingredients to shopping list</a></li>
        <li><a href="#">Edit  Repcie</a></li>
        <li><a href="#">Delete  Repcie</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    Description
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    Ingredients
  </div>
</div>